.freeTimeQuery {
	padding-top: 50px;
	padding-bottom: 50px;
	h3, h4 {
		color: #555;
		font-weight: 300;
		margin: 0;
	}

	h3 {
		font-size: 3rem;
		@include respond-to ('small') {
			padding-bottom: 2rem;
		}
	}
}

.freeTimeContainer {
	width: 50%;
	float: left;
	@include respond-to ('small') {
		padding-bottom: 3rem;
		width: 100%;
	}
}

.freeTimeSubmit {
	@include respond-to ('small') {
		margin-top: 2rem;
	}
}

.freeTimeSelector {
	width: 50%;
	float: left;
	@include respond-to ('small') {
		width: 100%;
	}

	.freeTimeInput {
	color: $darkerGray;
	background-color: #ddd;
	border: 1px solid #ccc;
	padding: 30px;
	width: 100%;
	text-align: center;
	display: inline-block; 
	margin-right: 5%;
	float: right;
		@include respond-to('small') {
			width: 100%;		
		}

		@include respond-to('medium') {
			float: left;
			width: 100%;		
		}

		h3 {
			text-align: center;
			margin-bottom: 20px;
		}
		p {
			text-align: center;
		}
		.freeTimeHours, .freeTimeMinutes {
			float: left;
			width: 50%;
			@include respond-to ('small') {
				width: 100%;
			}
		}

		input[type="number"]::-webkit-input-placeholder {color: #bbb;}
		input[type="number"]:-moz-placeholder { /* Firefox 18- */ color: #bbb; }
		input[type="number"]::-moz-placeholder {  /* Firefox 19+ */ color: #bbb; }
		input[type="number"]:-ms-input-placeholder {color: #bbb; }

		input[type="number"] {
			background-color: #fff;
			color: #666;
			width: 50px;
			height: 50px;
			font-size: 1.8rem;
			width: 100%;
			padding: 20px;
			text-align: center;
				// &::-webkit-inner-spin-button {
				// 	-webkit-appearance: none;
				// }
		}
		label {
			font-size: 1.8rem;
			padding-left: 10px;
			padding-right: 10px;
		}
		
		div {
			float: left;
			&:last-child {
				clear: left;
			}
		}

		input[type="number"] {
			background-color: #f8f8f8;
			color: $lighterGray;
			width: 50px;
			height: 50px;
			float: left;
			font-size: 1.8rem;
		}
	}
}

.freeTimeSubmit {
	background-color: $primaryColor;
	text-transform: uppercase;
	font-size: 1rem; // 1.5
	color: white;
	border: none;
	padding: 10px 30px;
	border-radius: 3px;
	transition: .3s all;
	letter-spacing: 2px;
	display: block;
	&:hover {
		background-color: darken($primaryColor, 10) // 20
	}		
	width: 110px;
	height: 30px;	
		
	@include respond-to('small') {
		width: 100%;
		font-size: 1rem;
		height: 100%;		
	}
}