.steps {
	font-size: 9.0rem;
	font-family: $primaryFont;
	color: $primaryColor;
}

.bookInfo {	
	background-color: black;
	padding-top: 50px;
	padding-bottom: 50px;

	p {
		color: $quaternaryColor;
		font-size: 1.2rem;
	}

	.bookPoster {
		border: 1px solid yellow;
		width: 300px;
		height: 300px;
		float: left;
	}

	.bookCast {
		border: 1px solid yellow;
		float: left;
	}
}

.movieInfo {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	h2 {
		color: #555;
	}

	.movieResults {
		width: calc((100% - 36px) / 4);
		float: left;
		// temporary BG for design display purposes
		background: pink;
		margin-left: 8px;
		
		&:first-child {
			// not sure why it's not seeing this... Adjust calculations above if I get this to work...
			margin-left: 0;
		}
	}
}

.stepOneStopwatch {
	background-color: $secondaryColor;
	padding-top: 50px;
	padding-bottom: 50px;

	.readingVerbiage {
		background-color: white;
		width: 400px;
		padding: 10px;
		box-shadow: 10px 10px 13px -6px rgba(168,152,142,1);
		float: left;

		p {
			font-style: italic;
			color: #555;
		}
	}

	.calculatingSpeed {
		text-align: right;
		
		h3 {
			font-size: 3rem;
			margin-top: 0;
			margin-bottom: 0;
			color: #555;
		}

		#seconds, #tens {
			font-size: 8rem;
		}

		.watch {
			font-size: 7.5rem;
			color: $lighterGray;
		}

		span {
			padding-right: 5px;
		}		

		#button-start {
			background-color: $primaryColor;
			font-size: 1.5rem;
			color: white;
			width: 110px;
			height: 30px;
			border: none;

		}

		#button-stop {
			background-color: $primaryColor;
			font-size: 1.5rem;
			color: white;
			width: 110px;
			height: 30px;
			border: none;

		}

		#button-reset {
			background-color: white;
			color: $lighterGray;
			border: none;
			width: 110px;
			height: 30px;
			font-size: 1.5rem;
		}
	}
}

.freeTimeQuery {
	padding-top: 50px;
	padding-bottom: 50px;

	h3, h4 {
		color: #555;
		font-weight: 300;
		margin: 0;
	}

	h3 {
		font-size: 3rem;
	}

	.freeTimeContainer {
		float: left;
	}
}

.results {
	padding-top: 50px;
	padding-bottom: 50px;

	background-color: $tertiaryColor;
	text-align: center;

	h2 {
		font-family: $primaryFont;
		font-size: 5rem;
		font-weight: 300;
		font-style: normal;	
	}

	h3 {
		color: #555;
		font-size: 2.5rem;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.resultsBox {
		width: calc((100% - 16px) / 3);
		background-color: white;
		float: left;
		margin-left: 8px;
		margin-top: 20px;
		&:first-child {
			margin-left: 0;
		}
	}
}