.movieInfo {
	height: 100vh;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	@include respond-to ('small') {
		overflow: auto;
	}
	@include respond-to ('medium') {
		overflow: auto;
	}
	h2 {
		color: #555;
		@include respond-to ('small') {
			font-size: 4rem;
		}
	}

	.movieResults {
		// width: calc((100% - 36px) / 4);
		// float: left;
		// temporary BG for design display purposes
		// background: pink;
		// margin-left: 8px;
		
		&:first-child {
			// not sure why it's not seeing this... Adjust calculations above if I get this to work...
			// margin-left: 0;
		}
		.movie {
			float: left;
			width: calc((100% / 4) - 20px);	
			@include respond-to ('small') {
			width: calc((100% / 2) - 20px);
			}
			@include respond-to ('medium') {
			width: calc((100% / 2) - 20px);
			}
			margin: 10px;
			img {
				opacity: .85;
				max-height: 390px;
				transition: .3s all;
				&:hover {
					opacity:1;
					cursor: pointer;
					box-shadow: 0 3px 3px #333;
					transform: scale(1.01);
				}
			}
			h2 {
				font-family: $primaryFont;
				font-size: 2rem;
				color: #333;
				margin: 20px 0 10px;
			}
			.movieSelect {
				color:#88a49c;
				background-color: $quaternaryColor;
				border: 1px solid #88a49c;
				border-radius: 3px;
				padding: 15px 50px;
				font-size: 1.6rem;
				text-transform: uppercase;
				transition: .3s all;
				&:hover {
					background-color: darken($quaternaryColor,30);
					color: #fff;
				}
			}
		}
	}
}