.results {
	padding-top: 50px;
	padding-bottom: 50px;

	background-color: $tertiaryColor;
	text-align: center;

	h2 {
		font-family: $primaryFont;
		font-size: 5rem;
		font-weight: 300;
		font-style: normal;	
	}

	h3 {
		color: #555;
		font-size: 2.5rem;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.resultsBox {
		width: calc((100% - 16px) / 3);
		background-color: white;
		float: left;
		margin-left: 8px;
		margin-top: 20px;
		&:first-child {
			margin-left: 0;
		}
	}
	.userSecondsPerBook, .userDaysToRead, .userReadingSpeed {
		font-size: 3.5rem;
		color: #ab453c;
	}
}