//Colors and fonts
$primaryFont: 'Lato', sans-serif;
$secondaryFont: 'Playfair Display', serif;
$primaryColor: #ab453c;
$primaryColorRgb: rgb(171,69,60);
$alpha: 0.4;
$secondaryColor :#eacbb8;
$tertiaryColor: #cac3c0;
$quaternaryColor: #dff1ec;

$lighterGray: #888;
$darkerGray: #444;