$primaryFont: 'Lato', sans-serif;
$secondaryFont: 'Playfair Display', serif;
$primaryColor: #ab453c;
$secondaryColor :#eacbb8;
$tertiaryColor: #cac3c0;
$quaternaryColor: #dff1ec;
// $primaryTextColor: #444444;