article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

body, html {
  font-size: 10px;
  font-family: "Lato", sans-serif; }

body {
  color: #555; }

h1, h2, h5, h6 {
  font-weight: 700;
  margin: 0;
  font-family: "Playfair Display", serif; }

h1 {
  font-size: 5rem;
  color: white; }
  @media (max-width: 480px) {
    h1 {
      font-size: 3rem; } }

h2 {
  font-size: 2.5rem;
  color: white; }
  @media (max-width: 480px) {
    h2 {
      font-size: 2rem; } }

h3 {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  color: white;
  font-weight: 300; }

h4 {
  font-size: 1.6rem;
  color: white; }

a {
  color: #ab453c;
  text-decoration: none;
  transition: .3s all; }

p {
  font-size: 1.6rem;
  line-height: 1.6; }

li {
  font-size: 1.4rem; }

img {
  max-width: 100%; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto; }

.mobileShow {
  display: none; }
  @media (max-width: 480px) {
    .mobileShow {
      display: block; } }

@media (max-width: 480px) {
  .mobileHide {
    display: none; } }

.hidden {
  display: none; }

.steps {
  font-size: 16rem;
  font-family: "Lato", sans-serif;
  color: #ab453c;
  letter-spacing: -10px;
  font-weight: 300; }

header {
  background-color: #ab453c;
  background: linear-gradient(rgba(58, 23, 20, 0.9), rgba(171, 69, 60, 0.4)), url(https://images.unsplash.com/photo-1465433045946-ba6506ce5a59?dpr=1&auto=format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=);
  background-size: cover;
  text-align: center; }
  header .wrapper {
    position: relative;
    height: 100vh; }
    @media (max-width: 480px) {
      header .wrapper {
        width: 90%; } }

.headerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; }
  .headerText h1 {
    font-size: 8rem;
    line-height: 1;
    margin-bottom: 30px;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.75); }
    @media (max-width: 480px) {
      .headerText h1 {
        font-size: 6rem; } }

.queryInput {
  width: 600px;
  max-width: 100%;
  box-shadow: 10px 10px 13px -6px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 15px;
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: 1px;
  color: #333;
  text-align: center; }
  .queryInput::placeholder {
    color: #cac3c0; }
  @media (max-width: 480px) {
    .queryInput {
      font-size: 1.2rem; } }

.submitBtn .querySubmit {
  border-radius: 0px;
  background-color: rgba(95, 39, 34, 0.7);
  border: 3px solid white;
  color: white;
  text-transform: uppercase;
  font-size: 2.4rem;
  margin-top: 30px;
  border-radius: 4px;
  letter-spacing: 2px;
  padding: 10px 25px;
  transition: .3s all; }
  .submitBtn .querySubmit:hover {
    background-color: #5f2722; }

footer {
  background-color: black;
  padding-top: 30px;
  padding-bottom: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://images.unsplash.com/photo-1465433045946-ba6506ce5a59?dpr=1&auto=format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=);
  background-size: cover; }
  footer .wrapper {
    height: auto; }
  footer img {
    max-width: 100px; }
  footer p {
    color: white;
    font-size: 1.8rem;
    padding-right: 20px; }
    @media (max-width: 480px) {
      footer p {
        float: none; } }
  footer .poweredByText {
    margin-top: 20px; }
    @media (max-width: 480px) {
      footer .poweredByText {
        padding-bottom: 0px;
        margin-bottom: 0px; } }
  footer .logos {
    float: left;
    padding-right: 20px; }
    @media (max-width: 480px) {
      footer .logos {
        float: none;
        padding-bottom: 20px; } }
  footer .logosRight {
    float: right; }
    @media (max-width: 480px) {
      footer .logosRight {
        padding-top: 50px;
        float: none; } }
  footer .copyright {
    margin: 0 auto;
    padding-right: 0;
    width: 400px;
    font-size: 1.2rem;
    margin-top: 20px; }
    @media (max-width: 480px) {
      footer .copyright {
        margin-top: 0px;
        max-width: 100%; } }

.movieInfo {
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center; }
  @media (max-width: 480px) {
    .movieInfo {
      overflow: auto;
      height: auto; } }
  @media (max-width: 768px) {
    .movieInfo {
      overflow: auto; } }
  .movieInfo h2 {
    color: #555; }
    @media (max-width: 480px) {
      .movieInfo h2 {
        font-size: 4rem; } }
  .movieInfo .movieResults .movie {
    float: left;
    width: calc((100% / 4) - 20px);
    margin: 10px; }
    @media (max-width: 480px) {
      .movieInfo .movieResults .movie {
        width: calc((100% / 2) - 20px); } }
    @media (max-width: 768px) {
      .movieInfo .movieResults .movie {
        width: calc((100% / 2) - 20px); } }
    .movieInfo .movieResults .movie img {
      opacity: .85;
      max-height: 390px;
      transition: .3s all; }
      .movieInfo .movieResults .movie img:hover {
        opacity: 1;
        cursor: pointer;
        box-shadow: 0 3px 3px #333;
        transform: scale(1.01); }
    .movieInfo .movieResults .movie h2 {
      font-family: "Lato", sans-serif;
      font-size: 2rem;
      color: #333;
      margin: 20px 0 10px; }
    .movieInfo .movieResults .movie .movieSelect {
      color: #88a49c;
      background-color: #dff1ec;
      border: 1px solid #88a49c;
      border-radius: 3px;
      padding: 15px 50px;
      font-size: 1.6rem;
      text-transform: uppercase;
      transition: .3s all; }
      .movieInfo .movieResults .movie .movieSelect:hover {
        background-color: #75c2ad;
        color: #fff; }

.bookInfo {
  background-color: black;
  padding-top: 50px;
  padding-bottom: 50px;
  background-size: contain; }
  @media (max-width: 480px) {
    .bookInfo {
      overflow: auto; } }
  .bookInfo p {
    color: #dff1ec;
    font-size: 1.2rem; }
  .bookInfo .bookPoster {
    width: 25%;
    float: left;
    margin-left: 5%; }
    @media (max-width: 480px) {
      .bookInfo .bookPoster {
        width: 100%;
        margin-left: 0; } }
    .bookInfo .bookPoster img {
      box-shadow: 5px 5px 30px #000; }
      @media (max-width: 480px) {
        .bookInfo .bookPoster img {
          padding-bottom: 2rem; } }
  .bookInfo .bookDetails {
    float: left;
    width: 65%;
    margin-right: 5%;
    padding-left: 50px; }
    @media (max-width: 480px) {
      .bookInfo .bookDetails {
        width: 100%;
        padding-left: 0; } }
    .bookInfo .bookDetails .bookAuthor {
      font-size: 2rem; }
    .bookInfo .bookDetails .bookOverview h2 {
      font-family: "Lato", sans-serif; }
    .bookInfo .bookDetails .bookOverview p {
      font-size: 1.8rem;
      line-height: 2.8rem;
      color: #aaa; }
      @media (max-width: 480px) {
        .bookInfo .bookDetails .bookOverview p {
          font-size: 1.5rem;
          line-height: auto; } }

.stepOneStopwatch {
  background-color: #eacbb8;
  padding-top: 50px;
  padding-bottom: 50px; }
  .stepOneStopwatch .speechBubble {
    position: relative;
    padding: 15px;
    color: #fff;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 13px -6px #a8988e; }
    .stepOneStopwatch .speechBubble:after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 50px;
      border-width: 20px 0 0 20px;
      border-style: solid;
      border-color: #fff transparent;
      display: block;
      width: 0; }
    .stepOneStopwatch .speechBubble p {
      font-style: italic;
      color: #555;
      font-size: 2rem;
      line-height: 3.4rem;
      font-weight: 300;
      margin: 0;
      padding: 0; }
      @media (max-width: 480px) {
        .stepOneStopwatch .speechBubble p {
          font-size: 1.5rem;
          line-height: 1.5rem; } }
  .stepOneStopwatch .readingVerbiage {
    background-color: white;
    width: 50%;
    float: left;
    padding: 30px; }
    @media (max-width: 480px) {
      .stepOneStopwatch .readingVerbiage {
        width: 100%;
        margin-bottom: 2rem; } }
  .stepOneStopwatch .stepOneInfo {
    width: 50%;
    float: right; }
    @media (max-width: 480px) {
      .stepOneStopwatch .stepOneInfo {
        text-align: left;
        width: 100%; } }
  .stepOneStopwatch .calculatingSpeed {
    text-align: right; }
    @media (max-width: 480px) {
      .stepOneStopwatch .calculatingSpeed {
        text-align: left; } }
    .stepOneStopwatch .calculatingSpeed h3 {
      font-size: 3rem;
      margin-top: 0;
      margin-bottom: 0;
      color: #555; }
    .stepOneStopwatch .calculatingSpeed #seconds, .stepOneStopwatch .calculatingSpeed #tens {
      font-size: 8rem; }
      @media (max-width: 480px) {
        .stepOneStopwatch .calculatingSpeed #seconds, .stepOneStopwatch .calculatingSpeed #tens {
          font-size: 5rem; } }
    .stepOneStopwatch .calculatingSpeed #tens {
      margin-left: 15px; }
      @media (max-width: 480px) {
        .stepOneStopwatch .calculatingSpeed #tens {
          margin-left: 0; } }
    .stepOneStopwatch .calculatingSpeed .watch {
      font-size: 7.5rem;
      color: #888; }
    .stepOneStopwatch .calculatingSpeed span {
      padding-right: 5px; }
    .stepOneStopwatch .calculatingSpeed button {
      padding: 10px 30px;
      font-size: 1.5rem;
      border: none;
      transition: .3s all; }
      @media (max-width: 480px) {
        .stepOneStopwatch .calculatingSpeed button {
          padding: 10px 20px; } }
    .stepOneStopwatch .calculatingSpeed #button-start {
      background-color: #ab453c;
      color: white; }
      .stepOneStopwatch .calculatingSpeed #button-start:hover {
        background-color: #85362f; }
    .stepOneStopwatch .calculatingSpeed #button-stop {
      background-color: #ab453c;
      color: white; }
      .stepOneStopwatch .calculatingSpeed #button-stop:hover {
        background-color: #85362f; }
    .stepOneStopwatch .calculatingSpeed #button-reset {
      background-color: white;
      color: #888; }
      .stepOneStopwatch .calculatingSpeed #button-reset:hover {
        background-color: #e6e6e6; }

.freeTimeQuery {
  padding-top: 50px;
  padding-bottom: 50px; }
  .freeTimeQuery h3, .freeTimeQuery h4 {
    color: #555;
    font-weight: 300;
    margin: 0; }
  .freeTimeQuery h3 {
    font-size: 3rem; }
    @media (max-width: 480px) {
      .freeTimeQuery h3 {
        padding-bottom: 2rem; } }

.freeTimeContainer {
  width: 50%;
  float: left; }
  @media (max-width: 480px) {
    .freeTimeContainer {
      padding-bottom: 3rem;
      width: 100%; } }

@media (max-width: 480px) {
  .freeTimeSubmit {
    margin-top: 2rem; } }

.freeTimeSelector {
  width: 50%;
  float: left; }
  @media (max-width: 480px) {
    .freeTimeSelector {
      width: 100%; } }
  .freeTimeSelector .freeTimeInput {
    color: #444;
    background-color: #ddd;
    border: 1px solid #ccc;
    padding: 30px;
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-right: 5%;
    float: right; }
    @media (max-width: 480px) {
      .freeTimeSelector .freeTimeInput {
        width: 100%; } }
    @media (max-width: 768px) {
      .freeTimeSelector .freeTimeInput {
        float: left;
        width: 100%; } }
    .freeTimeSelector .freeTimeInput h3 {
      text-align: center;
      margin-bottom: 20px; }
    .freeTimeSelector .freeTimeInput p {
      text-align: center; }
    .freeTimeSelector .freeTimeInput .freeTimeHours, .freeTimeSelector .freeTimeInput .freeTimeMinutes {
      float: left;
      width: 50%; }
      @media (max-width: 480px) {
        .freeTimeSelector .freeTimeInput .freeTimeHours, .freeTimeSelector .freeTimeInput .freeTimeMinutes {
          width: 100%; } }
    .freeTimeSelector .freeTimeInput input[type="number"]::-webkit-input-placeholder {
      color: #bbb; }
    .freeTimeSelector .freeTimeInput input[type="number"]:-moz-placeholder {
      /* Firefox 18- */
      color: #bbb; }
    .freeTimeSelector .freeTimeInput input[type="number"]::-moz-placeholder {
      /* Firefox 19+ */
      color: #bbb; }
    .freeTimeSelector .freeTimeInput input[type="number"]:-ms-input-placeholder {
      color: #bbb; }
    .freeTimeSelector .freeTimeInput input[type="number"] {
      background-color: #f8f8f8;
      color: #888;
      float: left;
      font-size: 1.8rem;
      width: 100%;
      padding: 20px;
      text-align: center; }
      .freeTimeSelector .freeTimeInput input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none; }
    .freeTimeSelector .freeTimeInput label {
      font-size: 1.8rem;
      padding-left: 10px;
      padding-right: 10px; }
    .freeTimeSelector .freeTimeInput div {
      float: left;
      width: 100%; }
      .freeTimeSelector .freeTimeInput div:last-child {
        clear: left; }

.freeTimeSubmit {
  background-color: #ab453c;
  text-transform: uppercase;
  font-size: 1rem;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 3px;
  transition: .3s all;
  letter-spacing: 2px;
  display: block;
  width: 110px;
  height: 30px;
  margin: 0 auto; }
  .freeTimeSubmit:hover {
    background-color: #85362f; }
  @media (max-width: 480px) {
    .freeTimeSubmit {
      width: 100%;
      font-size: 1rem;
      height: 100%; } }

.results {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #cac3c0;
  text-align: center; }
  @media (max-width: 480px) {
    .results {
      overflow: hidden; } }
  .results h2 {
    font-family: "Lato", sans-serif;
    font-size: 5rem;
    font-weight: 300;
    font-style: normal; }
  .results h3 {
    color: #555;
    font-size: 2.5rem;
    margin-top: 5px;
    margin-bottom: 5px; }
  @media (max-width: 480px) {
    .results p {
      font-size: 1rem; } }
  .results .resultsBox {
    width: calc((100% - 16px) / 3);
    background-color: white;
    float: left;
    margin-left: 8px;
    margin-top: 20px; }
    .results .resultsBox:first-child {
      margin-left: 0; }
  .results .userSecondsPerBook, .results .userDaysToRead, .results .userReadingSpeed {
    font-size: 5rem;
    color: #ab453c; }
    @media (max-width: 480px) {
      .results .userSecondsPerBook, .results .userDaysToRead, .results .userReadingSpeed {
        font-size: 2.5rem; } }
  .results .resultButtons {
    margin: 50px; }
  .results .buyNow {
    float: left; }
  .results .buyNow img {
    width: 200px; }
  .results #resetButton {
    float: right;
    border-radius: 0px;
    background-color: rgba(95, 39, 34, 0.7);
    border: 3px solid white;
    color: white;
    text-transform: uppercase;
    font-size: 2.4rem;
    border-radius: 4px;
    letter-spacing: 2px;
    padding: 10px 25px;
    transition: .3s all; }
    @media (max-width: 480px) {
      .results #resetButton {
        margin-top: 2rem;
        font-size: 1.5rem; } }
    .results #resetButton:hover {
      background-color: #5f2722; }
